<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 






<servlet>
<servlet-name>index8</servlet-name>
<jsp-file>/demomyProject.index8.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>index8</servlet-name>
<url-pattern>/index8</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>index9</servlet-name>
<jsp-file>/demomyProject.index9.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>index9</servlet-name>
<url-pattern>/index9jsp</url-pattern>
</servlet-mapping>

  
  
   


<servlet>
<servlet-name>index6jsp</servlet-name>
<jsp-file>/demomyProject.index6.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>index6jsp</servlet-name>
<url-pattern>/index6jsp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>index7jsp</servlet-name>
<jsp-file>/demomyProject.index7.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>index7jsp</servlet-name>
<url-pattern>/index7</url-pattern>
</servlet-mapping>












  
 <!--  <welcome-file-list>  
  
   <welcome-file>welcome.html</welcome-file>  
   <welcome-file>default.html</welcome-file>
  </welcome-file-list>  -->

 <servlet>  
    <description></description>  
    <display-name>Login1Servlet</display-name>  
    <servlet-name>Login1Servlet</servlet-name>  
    <servlet-class>demomyProject.Login1Servlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Login1Servlet</servlet-name>  
    <url-pattern>/Login1Servlet</url-pattern>  
  </servlet-mapping>  
  <servlet>  
    <description></description>  
    <display-name>ProfileServlet</display-name>  
    <servlet-name>ProfileServlet</servlet-name>  
    <servlet-class>demomyProject.ProfileServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ProfileServlet</servlet-name>  
    <url-pattern>/ProfileServlet</url-pattern>  
  </servlet-mapping>  
  <servlet>  
    <description></description>  
    <display-name>LogoutServlet</display-name>  
    <servlet-name>LogoutServlet</servlet-name>  
    <servlet-class>demomyProject.LogoutServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutServlet</servlet-name>  
    <url-pattern>/LogoutServlet</url-pattern>  
  </servlet-mapping>  
 





<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>demomyProject.AddServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>pqr</servlet-name>
<servlet-class>demomyProject.SqServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>pqr</servlet-name>
<url-pattern>/Sq</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>def</servlet-name>
<servlet-class>demomyProject.FullnameServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>def</servlet-name>
<url-pattern>/fn</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>stu</servlet-name>
<servlet-class>demomyProject.NameServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>stu</servlet-name>
<url-pattern>/nn</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>llll</servlet-name>
<servlet-class>demomyProject.WelcomeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>llll</servlet-name>
<url-pattern>/lll</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>nnnn</servlet-name>
<servlet-class>demomyProject.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>nnnn</servlet-name>
<url-pattern>/nnn</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Add.jsp</servlet-name>
<jsp-file>/Add.jsp</jsp-file>
<init-param>
<param-name>dbname</param-name>
<param-value>sun.jdbc.mysql.driver</param-value>

</init-param>

</servlet>
<servlet-mapping>
<servlet-name>Add.jsp</servlet-name>
<url-pattern>/Add.jsp</url-pattern>

</servlet-mapping>





</web-app>